/*POSITIONING
 Positioning with CSS is one of the most important parts of CSS. 
 It forms the basis of every layout. 
 Positioning is controlled by the position property. 
 The flow of the page is the arrangement of the elements set by their position property and the order of HTML elements. 
 All elements on a web page are positioned static by default, and this is what is considered “normal flow” of the page. 
 It means that they will sit vertically above each other in the order that they appear in the HTML structure.
 We've learned that the default positioning is static. 
 In this, every element appears stacked one on top of the other in the order they appear in the HTML file. 
 Elements with relative positioning are positioned relative to their normal static position. 
 They can have several offset properties set that will remove them from their static position.

 Absolute Positioning
An absolutely positioned element's position is determined by the values of top, right, bottom, and left.

There are lots of cases in web design when we want to stretch an absolute element horizontally and vertically at the same time. 
You probably noticed modals, popup boxes that have a dark layer behind. This dark layer is created with absolute or fixed positioning. 
It covers the whole page, and it is on the top of everything but the modal. To cover all the other elements, it has to be taken out of the flow. 
Otherwise, it would just follow the default stack order. 
That is why we need to position it fixed or absolute.

 Fixed Positioning
You probably noticed on some websites that some elements just wouldn’t go away. 
No matter how long you scroll, they are still there, following your scroll position. 
Such behaviour can be achieved by a fixed position. Fixed elements are also removed from the flow of the page. 
While absolute elements can be positioned relative to some other element, fixed elements are standing on their own. 
They only have a relationship to the browser viewport.

 CSS Syntax
position: static|absolute|fixed|relative|sticky|initial|inherit;
Property Values
Value	Description	Play it
static	Default value. Elements render in order, as they appear in the document flow	
absolute	The element is positioned relative to its first positioned (not static) ancestor element	
fixed	The element is positioned relative to the browser window	
relative	The element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position	
sticky	The element is positioned based on the user's scroll position
A sticky element toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed).

Note: Not supported in IE/Edge 15 or earlier. Supported in Safari from version 6.1 with a -webkit- prefix.	
initial	Sets this property to its default value. 
inherit	Inherits this property from its parent element. */

More Examples
Example
How to position an element relative to its normal position:

h2.pos_left {
  position: relative;
  left: -20px;
}

h2.pos_right {
  position: relative;
  left: 20px;
}
Example
More positioning:

#parent1 {
  position: static;
  border: 1px solid blue;
  width: 300px;
  height: 100px;
}

#child1 {
  position: absolute;
  border: 1px solid red;
  top: 70px;
  right: 15px;
}

#parent2 {
  position: relative;
  border: 1px solid blue;
  width: 300px;
  height: 100px;
}

#child2 {
  position: absolute;
  border: 1px solid red;
  top: 70px;
  right: 15px;
}